In [4]:
# load final csv file and plot the data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
dh = pd.read_csv('final.csv')
dh.head()

,Time,TP,TE1,TE2,TE3,TE4,TE6,Min_ster_Temp,Max_ster_Temp,Batch Status,...,J,K,L,M,N,O,P,Q,R,S
0,01-09-2019 08:58,1.03,19.6,68.3,70.8,69.9,22.7,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,0
1,01-09-2019 08:54,1.04,19.8,86.5,89.5,88.6,22.9,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,0
2,01-09-2019 08:58,1.04,19.8,86.5,89.5,88.6,22.9,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,0
3,01-09-2019 08:58,0.87,32.1,87.0,90.0,89.1,22.9,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,0
4,01-09-2019 08:58,0.70,44.3,87.3,90.2,89.3,22.9,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Write all the column names in a list
cols = dh.columns.tolist()
print(cols)

['Time', 'TP', 'TE1', 'TE2', 'TE3', 'TE4', 'TE6', 'Min_ster_Temp', 'Max_ster_Temp', 'Batch Status', 'Log name', 'PAD', 'TER1', 'TER2', 'TER3', 'TER4', 'TPR1', 'TE7', 'Data Label', 'AIR DISCHARGE BY GRAVITY', 'AIR PRESSURE HOLD', 'AIR TO CHAMBER', 'CHAMBER PRESSURE', 'CHAMBER VACUUM', 'CONTROLLED RATE COOLING', 'COOLING EXTENSION', 'CYCLE END', 'DEPRESSURIZE BY', 'DEPRESSURIZE BY VACUUM PUMP', 'DYNAMIC STEAM PRESSURE HOLD', 'DYNAMIC STEAM RISING PULSE', 'EMERGENCY', 'FALLING PULSE', 'FALLING PULSE NORMAL', 'FALLING PULSE SLOW', 'HEATING', 'MODULATED DEPRESSURIZATION', 'MODULATED FALLING PULSE', 'MODULATED STEAM RISING PULSE', 'MODULATED VACUUM BALANCE', 'NORMAL RATE DEPRESSURIZE', 'PREPARE AUTOCLAVE', 'PRESSURE STABILIZATION', 'PRESSURIZE CHAMBER', 'PRESSURIZE CHAMBER BY AIR', 'REDUCED RATE DEPRESSURIZE', 'RETURN TO', 'RETURN TO ATMOSPHERIC PRESSURE', 'STEAM TO CHAMBER, MODULATED', 'STERILIZATION', 'TIMED VACUUM', 'TIMED VACUUM, STEAM INJECTION', 'WATER DRAIN', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S']

In [10]:
X = dh[['PREPARE AUTOCLAVE', 'DEPRESSURIZE BY VACUUM PUMP', 'DYNAMIC STEAM RISING PULSE' ,'FALLING PULSE', 'HEATING' ,'EMERGENCY',
 'STERILIZATION' ,'TIMED VACUUM' ,'CYCLE END', 'AIR TO CHAMBER',
 'RETURN TO ATMOSPHERIC PRESSURE', 'TIMED VACUUM, STEAM INJECTION',
 'AIR DISCHARGE BY GRAVITY' ,'PRESSURIZE CHAMBER BY AIR',
 'CONTROLLED RATE COOLING' ,'COOLING EXTENSION', 'WATER DRAIN',
 'REDUCED RATE DEPRESSURIZE' ,'NORMAL RATE DEPRESSURIZE',
 'MODULATED STEAM RISING PULSE', 'DYNAMIC STEAM PRESSURE HOLD',
 'FALLING PULSE SLOW' ,'FALLING PULSE NORMAL', 'STEAM TO CHAMBER, MODULATED',
 'MODULATED VACUUM BALANCE' ,'DEPRESSURIZE BY', 'CHAMBER VACUUM', 'RETURN TO',
 'PRESSURIZE CHAMBER' ,'PRESSURE STABILIZATION', 'CHAMBER PRESSURE',
 'MODULATED DEPRESSURIZATION' ,'AIR PRESSURE HOLD',
 'MODULATED FALLING PULSE']]

In [20]:
# Iterate over DataFrame rows
previous_value = None
for index, row in X.iterrows():
    current_value = None
    for column in X.columns:
        if row[column] == 1:
            current_value = column
            break
    if previous_value != current_value:
        X.at[index, 'New_Column'] = current_value
        previous_value = current_value
print(X)

C:\Users\91751\AppData\Local\Temp\ipykernel_3980\2527296975.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.at[index, 'New_Column'] = current_value

                     Time    TP   TE1    TE2    TE3    TE4   TE6  \
318      01-09-2019 09:42  0.05   0.0  107.0  108.1  109.0   0.0
667      01-09-2019 11:30  0.98  86.0  116.5  116.9  116.9  87.6
988      01-09-2019 12:32  0.98  49.1  116.5  118.0  117.5   0.0
1321     01-09-2019 14:00  0.98  48.6  116.3  117.8  117.2   0.0
1679     01-09-2019 16:10  1.04  42.2   54.2   52.7   55.2   0.0
...                   ...   ...   ...    ...    ...    ...   ...
1040725  04-04-2021 13:10  0.89  51.4  112.9  112.7  112.7   0.0
1040936  04-05-2021 11:02  0.89   0.0   22.2   22.9    0.0   0.0
1041169  04-05-2021 12:04  0.89  58.6  105.5  104.6  104.9   0.0
1042057  04-05-2021 14:37  0.89  53.3  109.6  109.1  109.1   0.0
1042807  04-05-2021 16:43  0.89  51.5  113.3  113.3  113.2   0.0

         Min_ster_Temp  Max_ster_Temp  Batch Status  ...  K  L  M  N  O  P  Q  \
318              122.1          122.2             0  ...  0  0  0  0  0  0  0
667              121.2          122.2             1  ...  0  0  0  0  0  0  0
988              121.2          122.4             1  ...  0  0  0  0  0  0  0
1321             121.2          122.3             1  ...  1  0  0  0  0  0  0
1679             121.2          122.1             1  ...  0  0  0  0  0  0  0
...                ...            ...           ...  ... .. .. .. .. .. .. ..
1040725          121.7          122.3             1  ...  0  0  0  0  0  1  0
1040936          121.7          122.3             1  ...  0  0  0  0  0  0  0
1041169          121.7          122.3             1  ...  0  1  0  0  0  0  0
1042057          121.7          122.3             1  ...  0  0  0  0  0  1  0
1042807          121.7          122.3             1  ...  0  0  0  0  0  1  0

         R  S    New_Column
318      0  0     CYCLE END
667      0  0  Batch Status
988      0  0           NaN
1321     0  0           NaN
1679     0  0           NaN
...     .. ..           ...
1040725  0  0           NaN
1040936  0  0           NaN
1041169  0  0           NaN
1042057  0  0           NaN
1042807  0  0           NaN

[1860 rows x 72 columns]

In [22]:
dh.head()

,Time,TP,TE1,TE2,TE3,TE4,TE6,Min_ster_Temp,Max_ster_Temp,Batch Status,...,K,L,M,N,O,P,Q,R,S,New_Column
0,01-09-2019 08:58,1.03,19.6,68.3,70.8,69.9,22.7,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,NaN
1,01-09-2019 08:54,1.04,19.8,86.5,89.5,88.6,22.9,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,NaN
2,01-09-2019 08:58,1.04,19.8,86.5,89.5,88.6,22.9,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,NaN
3,01-09-2019 08:58,0.87,32.1,87.0,90.0,89.1,22.9,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,NaN
4,01-09-2019 08:58,0.70,44.3,87.3,90.2,89.3,22.9,122.1,122.2,0,...,0,0,0,0,0,0,0,0,0,NaN